#pritam {
    animation-name: pritam;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pritam {
    0% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: red;
    }
}

.main-image {
    max-width: 60%;
    max-height: 60%;
    min-width: 60%;
    min-height: 60%;
}

.caption {
    color: green;
}