#pritam {
    animation-name: pritam;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#swastika {
    animation-name: swastika;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    font-style: normal;
}

@keyframes pritam {
    0% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@keyframes swastika {
    0% {
        transform: rotate(360deg);
    }

}

.main-image {
    max-width: 60%;
    max-height: 60%;
    min-width: 60%;
    min-height: 60%;
}

@media only screen and (max-width: 768px) {
    .main-image {
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
    }
}

.caption {
    color: greenyellow;
}


.quote {
    animation-name: quote;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes quote {
    0% {
        text-shadow: 0 0 5px orange;
    }
    50% {
        text-shadow: 0 0 1px orange;
    }
    100% {
        text-shadow: 0 0 5px orange;
    }
}

.quote:hover {
    color: yellow;
}