body {
    background-color: black;
    text-align: center;
    padding: 10px;
    color: gray;
    line-height: 1.4;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.nowrap {
    white-space: nowrap;
}

a {
    color: yellow;
    font-style: italic;
}

a:hover {
    color: blue;
}

a:visited {
    color: blueviolet;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
    font-family: monospace;
    font-style: italic;
}

p {
    font-family: monospace;
}

figcaption {
    color: purple;
    font-family: monospace;
}

@media screen and (max-width: 600px) {
    img {
        height: auto;
        width: 100%;
    }
}

footer {
    font-family: monospace;
}

@media screen and (min-width: 600px) {
    img {
        height: 100%;
        width: 100%;
    }
    p {
        font-size: 15px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
}

code {
    background-color: gray;
    color: black;
    letter-spacing: 2px;
    display: inline-block;
    text-align: left;
}

code p {
    font-size: 12px;
}